.App {
  text-align: center;
}

.App-header {
  border-bottom: 1px solid #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-chart-container {
  margin-top: 10px;
}

@media (max-width: 750px) {
  .App-header {
    flex-direction: column;
  }
}
