.Form {
  position: absolute;
  left: 20px;
}

.Form-label {
  font-size: 1em;
  display: inline;
  margin-right: 10px;
}

@media (max-width: 750px) {
  .Form {
    position: relative;
    left: 0;
    margin: 20px;
  }
}